<div class='flex flex-col gap-4'>

  <%= link_to kanban_path(@kanban), class: 'flex flex-row items-center gap-2 text-xs text-gray-700 hover:text-gray-900 transition-colors' do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    <span>Back to <%= @kanban.name %></span>
  <% end %>

  <h1 class='text-xl'>Edit kanban</h1>

  <%= render "form", kanban: @kanban %>

</div>
